@import "libs/vars.scss";
@import "libs/fonts.scss";
@import "libs/sidebar-primary.scss";
@import "libs/sidebar-secondary.scss";
@import "libs/main-content.scss";

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    line-height: 1.20;
    scroll-behavior: smooth;
}

@media #{$small-low} {
    body {
        font-size: $ftsz6;
    }
}

.page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

p {
    font-size: $ftsz9;
    color: $prim2;
    font-family: inherit;
    font-weight: inherit;
}

h1{
    margin: 36px 0vh 18px 0vh;
}
h2 {
    margin: 30px 0vh 15px 0vh;
}
h3 {
    margin: 24px 0vh 12px 0vh;
}
h4, h5 {
    margin: 12px 0vh 6px 0vh;
}

blockquote {
    border-left: solid 15px $prim5;
    padding-left: 20px;
    font-family: inherit;
    font-weight: 500;
}

mark {
    background-color: $seco4;
}

i, ai {
    padding-left: 4px;
    padding-right: 4px;
}

kbd {
    font-family: "Fira Code", monospace;;
    color: $prim1;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid $prim1;
}

.ctn-progress-bar {
    color: $prim2;
    background-color: $prim2;
    margin: 1vh;
    height: 24px;
    font-size: 24px;
    .ctt-progress-bar {
        height: 24px;
        border: 0px;
        background-color: $prim3;
        text-align: center;
        padding: 0px;
        font-size: $ftsz10;
    }
}


li code, p code { 
    font-family: 'Fira Code', monospace;
    font-size: .92em;
    color: $prim3;
    background-color: $thir5;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
    border: solid 1px $seco3;
}

.highlight {
    line-height: 1.5;
    code {
        margin-right: 36px;
    }
    pre {
        margin: 1vh 0vh 1vh 0vh;
    }
}

.social-media-banner {
    font-size: $ftsz6;
    margin-bottom: .6vh;
    a {
        color: $seco4;
    }
}



img, iframe, video { 
    max-width: 100%; 
    margin: 4px 0px 4px 0px ;
}

/* Table */
table {
  margin: auto;
  border-top: 4px solid $prim2;
  border-bottom: 4px solid $prim2;
}
th, td { 
    padding: 6px; 
}
thead, tfoot {
    background: $seco4;
}
th {
    border-bottom: 2px solid $prim2;
}
tr:nth-child(even) { 
    background: $thir5; 
}


.pubs {
    a {
        color: $prim4 !important;
        &:hover {
            color: $prim5 !important;
        }
        i, ai {
            color: $prim4;
            &:hover {
                color: $prim5;
            }
        }
    }
}
