@import "libs/vars.scss";
@import "libs/fonts.scss";
@import "libs/sidebar-primary.scss";
@import "libs/sidebar-secondary.scss";
@import "libs/main-content.scss";

html {
    font-size: 100%;
}

@media #{$small-low} {
    html {
        font-size: 18px;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: $ftfatx;
    font-weight: 400;
    line-height: 1.2;
    scroll-behavior: smooth;
}

.page {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

p {
    font-size: $ftsz6;
    color: $prim2;
    font-family: inherit;
    font-weight: inherit;
    margin: 1.2rem 0rem .6rem 0rem;
}



h1 {
    margin: $mrg1 0rem 1.5rem 0rem;
    font-size: $ftsz2;
}

h2 {
    margin: 2rem 0rem 1.2rem 0rem;
    font-size: $ftsz3;
}

h3 {
    margin: 1.8rem 0rem 1rem 0rem;
    font-size: $ftsz4;
}

h4 {
    margin: 1.5rem 0vh 0.9rem 0rem;
    font-size: $ftsz5;
}

h5 {
    margin: 1.2rem 0vh 0.8rem 0rem;
    font-size: $ftsz6;
}

h6 {
    margin: 1rem 0vh .7rem 0rem;
    font-size: $ftsz7;
}

a code {
    &:hover {
        color: #d5ba9c;
        background-color: #b95821;
    }
}

a img {
    padding: inherit;
    margin: inherit;
}

a {
    padding: 0rem;
    margin: 0rem;
}

img,
iframe,
video {
    max-width: 100%;
    margin: .4rem 0rem .4rem 0rem;
}


.title {
    padding: .4rem;
    text-align: center;
    font-family: $ftfati;
    font-size: $ftsz1;

    code {
        font-family: $ftfaco;
        color: $prim3;
    }
}

blockquote {
    border-left: solid .7rem $prim3;
    padding: .1rem .1rem .1rem 1rem;
    font-family: inherit;
    font-weight: 300;
    background-color: $thir5;
}

mark {
    background-color: $seco4;
}


kbd {
    font-family: $ftfaco;
    color: $prim1;
    border-radius: 6px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid $prim1;
}

.ctn-progress-bar {
    color: $prim2;
    background-color: $prim2;
    margin: .8rem 2rem .8rem 2em;
    height: 1.8rem;

    .ctt-progress-bar {
        height: 1.8rem;
        border: 0px;
        background-color: $prim3;
        text-align: center;
        padding: 0rem;
        font-size: 1.5rem;
    }
}

li code,
p code {
    font-family: $ftfaco;
    font-size: $ftsz8;
    color: $prim3;
    background-color: $thir5;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: .4rem;
    border: solid 1px $seco3;
}


pre {
    margin-top: $mrg8;
    margin-bottom: $mrg8;
    padding-right: $mrg6;
    font-size: $ftsz8;
}

pre code {
    font-family: $ftfaco;
    font-size: $ftsz7;
    margin-bottom: 0rem;
}

.highlight {
    padding-top: $mrg8;
    line-height: $ftsz5;
    max-width: 100%;
    overflow-x: auto;

    pre code {
        font-size: $ftsz7;
        margin-bottom: 0rem;
    }
}

.social-media-banner {
    font-size: $ftsz6;
    margin-bottom: .6vh;

    a {
        color: $seco4;
    }
}




/* Table */
table {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 3px solid $prim2;
    border-bottom: 3px solid $prim2;
}

th,
td {
    padding: .2rem;
}

thead,
tfoot {
    background: $seco4;
}

th {
    border-bottom: 2px solid $prim2;
}

tr:nth-child(even) {
    background: $thir5;
}


.pubs {
    a {
        color: $prim4 !important;

        &:hover {
            color: $prim5 !important;
        }

        i,
        ai {
            color: $prim4;

            &:hover {
                color: $prim5;
            }
        }
    }
}


.footer-custom {
    a {
        color: $prim5;
        text-decoration: none;

        &:hover {
            color: $prim1;
        }
    }
}

.footer {
    padding: 5vh .5rem .5rem .8rem;
    font-size: $ftsz7;

    @media #{$small-low} {
        display: none;
    }

    #hr-footer {
        width: 40%;
        color: transparent;
        height: 2px;
        background-color: $seco4;
    }

}

.footer2 {
    display: none;
    background-color: $prim2;
    text-align: center;
    width: 100%;
    color: $seco4;

    @media #{$small-low} {
        display: block;
        width: 100%;
        padding: 1.4rem 0rem 1.4rem 0rem;
    }

    #hr-footer {
        display: none;
    }
}


.social-media-banner {
    padding: .2rem 0rem .4rem 0rem;
    font-size: $ftsz3;

    a {

        i,
        ai {
            margin-left: 0rem;
            margin-right: .6rem;
            color: inherit;

            &:hover {
                color: $prim5;
            }
        }
    }
}
