{{ with .Site.Params.github }}
<a href="https://github.com/{{ . }}"><i class='fab fab fa-github-square'></i></a>
{{ end }}
{{ with .Site.Params.gitlab }}
<a href="https://gitlab.com/{{ . }}"><i class='fab fa-gitlab'></i></a>
{{ end }}
{{ with .Site.Params.stackoverflow }}
<a href="https://stackoverflow.com/users/{{ . }}"><i class='fab fa-stack-overflow'></i></a>
{{ end }}
{{ with .Site.Params.stackexchange }}
<a href="https://stats.stackexchange.com/users/{{ . }}"><i class='fab fa-stack-exchange'></i></a>
{{ end }}
{{ with .Site.Params.linkedin }}
<a href="https://www.linkedin.com/in/{{ . }}"><i class='fab fa-linkedin'></i></a>
{{ end }}
{{ with .Site.Params.twitter }}
<a href="https://twitter.com/{{ . }}"><i class='fab fa-twitter-square'></i></a>
{{ end }}
{{ with .Site.Params.facebook }}
<a href="https://www.facebook.com/public/{{ . }}"><i class='fab fa-facebook-square'></i></a>
{{ end }}
{{ with .Site.Params.instagram }}
<a href="https://www.instagram.com/{{ . }}"><i class='fab fab fa-instagram'></i></a>
{{ end }}
{{ with .Site.Params.pinterest }}
<a href="https://www.pinterest.com/{{ . }}"><i class='fab fa-pinterest-square'></i></a>
{{ end }}
{{ with .Site.Params.academia }}
<a href="http://www.academia.edu/{{ . }}"><i class='ai ai-academia-square'></i></a>
{{ end }}
{{ with .Site.Params.orcid }}
<a href="http://orcid.org/{{ . }}"><i class='ai ai-orcid-square'></i></a>
{{ end }}
{{ with .Site.Params.googlescholar }}
<a href="https://scholar.google.ca/citations?user={{ . }}"><i class='ai ai-google-scholar-square'></i></a>
{{ end }}
{{ with .Site.Params.researchgate }}
<a href="https://www.researchgate.net/profile/{{ . }}"><i class='fab fa-researchgate'></i></a>
{{ end }}
{{ with .Site.Params.publons }}
<a href="https://publons.com/author/{{ . }}"><i class='ai ai-publons-square'></i></a>
{{ end }}
{{ with .Site.Params.impactstory }}
<a href="https://profiles.impactstory.org/u/{{ . }}"><i class='ai ai-impactstory-square'></i></a>
{{ end }}