<h1> {{ .Site.Title }} </h1>

<div class="primary-sidebar-premenu">
    <h2> <i class='fas fa-align-center'></i> <button onclick="dropDown('p-s-menu')"> Menu </button> </h2>
</div>

<div class="primary-sidebar-menu" id="p-s-menu">
    
{{ if .Site.Menus.main }} 
    {{ range sort .Site.Menus.main }}
        {{ if .HasChildren }}

            {{ $i := false }}
            {{ range .Children }}
                {{ if eq (relURL $.Permalink) (relURL .URL) }} 
                    {{ $i = true }}
                {{ end }}
            {{ end }}

            {{ if $i }}
                <h2 id="current-dropdown">
            {{ else }} 
                <h2>
            {{ end }}
            <button onclick="dropDown('dropdown-{{  .Identifier }}')">
                {{ .Name | markdownify }}
            </button>
            </h2>

            <div class="dropdown" id="dropdown-{{  .Identifier }}">
                {{ range .Children }}
                    {{ if eq (relURL $.Permalink) (relURL .URL) }} 
                        <h3 id="current">
                    {{ else }}
                        <h3>
                    {{ end }}
                        <a href="{{ .URL }}"> {{ .Name | markdownify }} </a>
                    </h3>
                {{ end }}
            </div>
        {{ else }}
            {{ if eq (relURL $.Permalink) (relURL .URL) }} 
                <h2 id="current">
            {{ else }}
                <h2>
            {{ end }}
                <a href="{{ .URL }}"> {{ .Name | markdownify }} </a>
            </h2>
        {{ end }}

    {{ end }}

{{ end }}

</div>

