<h1>KevCaz</h1>

{{ if .Site.Menus.main }} 

    {{ range sort .Site.Menus.main }}

        {{ if .HasChildren }}
            <h2> 
                <button onclick="dropDown('{{  .Identifier }}')">{{ .Name | markdownify }}</button>
                <!-- <a href="" onclick="dropDown()"> {{ .Name | markdownify }} </a> -->
            </h2>
            <div class="dropdown" id="dropdown-{{  .Identifier }}">
                {{ range .Children }}
                    <h3>
                        <a href="{{ .URL }}"> {{ .Name | markdownify }} </a>
                    </h3>
                {{ end }}
            </div>
        {{ else }}
            <h2> 
                <a href="{{ .URL }}"> {{ .Name | markdownify }} </a>
            </h2>
        {{ end }}

    {{ end }}

{{ end }}

<script src="/js/sidebar-primary-dropdown.js"></script>
