<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    
    <div class="page">

        <div class="ctn-sidebar-primary">
            <div class="ctt-sidebar-primary">
                {{ partial "sidebar-primary.html" . }}

                <div class="footer">
                    {{ partial "footer.html" . }}
                </div>

            </div>
        </div>

        <div class="ctn-main-content">

            <div class="ctt-main-content">
                <h1 id="title"> {{ .Title }}</h1>

                <div class="ctt-main-content">
                     <div class="article-main">
                        {{ .Content }}
                    </div>
                </div>
   
                <h3> <i class="fa fa-code" aria-hidden="true"></i>&nbsp;Latest <a href="/posts/">Post</a> </h3>
                {{ range where .Site.Pages.ByDate.Reverse ".Type" "==" "post" | first 1 }}
                    <h4 style="font-weight:bolder;">
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h4>
                {{ end }}

            </div>

            <div class="footer2">
                {{ partial "footer.html" . }}
            </div>

        </div>

        <div class="ctn-sidebar-secondary">
            <div class="ctt-sidebar-secondary">
                {{ partial "sidebar-secondary.html" . }}
            </div>
        </div>

    </div>

    {{ partial "js.html" . }}
    
</body>

</html>
